@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular/Roboto-Regular.woff2);
    src: url(../font/Roboto-Regular/Roboto-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Bold/Roboto-Bold.woff2);
    src: url(../font/Roboto-Bold/Roboto-Bold.woff);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia-Sans';
    src: url(../font/sofia_sans/SofiaSans-Regular.woff2);
    src: url(../font/sofia_sans/SofiaSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Medium/Roboto-Medium.woff2);
    src: url(../font/Roboto-Medium/Roboto-Medium.woff);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Bold/Montserrat-Bold.woff2);
    src: url(../font/Montserrat-Bold/Montserrat-Bold.woff);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular/Montserrat-Regular.woff2);
    src: url(../font/Montserrat-Regular/Montserrat-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --text-color: #46B1DE;
    --head-text-color: #1B1D1F;
    /* white text - button + footer  */
    --white-text: #FFFFFF;
    /* footer text */
    --footer-text: #0F2D4A;
    --advantage:#A1C7D4;
}
li,
a,
ul {
    color: var(--head-text-color);
    text-decoration: none;
    list-style: none;
    padding: 0px 0px;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 10px;
    position: relative;
}

/* HEADER */

.container-navigation {
    width: 100%;
    height: 91px;
    top: 60px;
    position: absolute;
    z-index: 2;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}
.logo {
    display: flex;
    max-width: 426px;
    align-items: center;
}
.logo img {
    margin-right: 7px;
}
.logo-text {
    color: var(--text-color);
    font-family: "Sofia-Sans";
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-size: 38px;
    line-height: 70%;

}
.logo-text span {
    font-size: 26.8525px;
    text-transform: none;

}
.navigation {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 80px;
    padding-left: 77px;
}
.language {
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.language span {
    margin: 0px 5px;
}
.ua {
    font-weight: 800;
}
.tell {
    display: flex;
    align-items: center;
    margin-left: 69px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* MAIN */

.first-screen{
    background-image: url(../img/lady.png), url(../img/bgc.jpg) ;
    background-position: right  bottom, left top ;
    border: 1px solid #000000;
    background-repeat: no-repeat,no-repeat ;
    background-size: 572px, cover ;
    max-width: 100%;
    height: 663px;
    position: relative;
    top: 0px;
    z-index: 1;
    overflow:hidden;
}
.main-text{
    padding-top: 185px;
    font-family: 'Roboto';
    font-style: normal;
    
}
.main-text-upper {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.1em;
    color: var(--head-text-color);
    z-index: 2;
    position: relative;
}
.main-text-upper span {
    color: var(--text-color);
}
.mmain-text-low {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--head-text-color);
    z-index: 2;
    position: relative;
    
}
.link-buttons {
    margin-top: 48px;
    display:  grid;
    grid-template-columns: repeat(2,180px);
    gap: 120px;
    z-index: 2;
    position: relative;

}
.call-button,
.service-button {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 60px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    padding: 16px 35px;

}
.call-button {
    background: linear-gradient(97.59deg, #46B1DE 9.8%, var(--text-color) 95.1%);
    box-shadow: 0px 2px 10px var(--text-color);
    border-radius: 8px;
    color:var(--white-text);
}
.service-button {
    background: var(--white-text);
    border: 1px solid #DDE0DC;
    box-shadow: 0px 2px 10px #DDE0DC;
    border-radius: 8px;
    color: var(--text-color);
}
/* .lady {
    position: absolute;
    top: 200px;
    z-index: 1;
    left: 718px;
} */
.benefits-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px) ;
    justify-content: center;
    gap: 70px;
}
.benefits {
    margin-top: -45px;
    max-width: 280px;
    height: 120px;
    display: flex;
    padding: 35px 12px;
    background: var(--white-text);
    border: 1px solid #D8E1E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    align-items: center;
    z-index: 2;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    gap: 20px;
}
.value {
    font-weight: 400;
    font-size: 65px;
    line-height: 76px;
    color: var(--text-color);
}
.second-text-container {
    margin-top: 90px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}
.second-text {
    font-size: 34px;
    line-height: 130%;
    color: var(--head-text-color);
}
.second-text span {
    color: var(--text-color);
}
.second-text-container p{
    font-size: 16px;
    line-height: 140%;
    color: var(--head-text-color);
}
.six-advantage {
    max-width: 1020px;
    margin: 50px auto 0;
    background-color: var(--advantage);
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto auto;
    border-radius: 12px;
    gap: 12px 40px;
    grid-auto-flow: column;
    padding: 15px;
}
.advantage {
    background-color:var(--white-text);
    max-width: 300px;
    padding: 10px 18px 46px;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.advantage > div {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    justify-content:start;
    margin-bottom: 25px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.number {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
}

/* MAKE APPOINTMENT */

.appointment-container {
    background: var(--white-text);
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px ;
    max-width: 845px;
    max-height:265px;
    margin: 87px auto 0px;
    padding: 10px 12px 8px;
}
.appointment {
    background: var(--white-text);
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px 25px 46px;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    color: var(--head-text-color);
}
.appointment span:nth-child(odd) {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
}
.appointment span:nth-child(even) {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.registration {
    margin-top: 45px;
    display: flex;
    gap:68px ;
    justify-content: center;
}
.user {
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    width: 233px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 10px;
}
.user span {
    border: 1px solid #000000;
    height: 30px;
    background-color: black;
    box-sizing: border-box;
}
.user input {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    color: rgba(27, 29, 31, 0.51);
    width: 150px;
}
.sign-up a {
    background: var(--text-color);
    border-radius: 8px;
    padding: 15px 16px;
    width: 180px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-text);
}
.name img {
    width: 22.15px;
    height: 24px;
}
.phone-number img {
    width: 24px;
    height: 24px;
}

/* Three foto */

.foto {
    margin-top: 90px;
    display: flex;
    gap: 70px;
    justify-content: center;
}
.foto img {
    border-radius: 8px;
}

/* FOOTER */

footer {
    background: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
}
.footer-container {
    height: 400px;
    margin-top: 90px;
    display: flex;
    position: relative;
}
.left-footer {
    margin-top: 60px;
    /* margin-left: 113px; */
}
.logo-footer {
    display: flex;
    font-family: "Sofia-Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 38.7869px;
    line-height: 60%;
    align-items: center;
    color: var(--footer-text);
}
.low {
    font-size: 26.8525px;
    line-height: 140%;
}
.logo-footer img {
    width: 77.57px;
    height: 80.56px;
}
.worktime-workinghours{
    display: flex;
    gap: 163px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    margin-top: 30px;
    color: var(--footer-text);
}
.worktime {
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.lang a {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    font-weight: 600;
}
.workinghours {
    display: grid;
    align-content: center;
}
.workinghours span:nth-child(1) {
    margin-bottom: 7px;
    font-weight: 600;
}
.right-footer {
    margin-top: 60px;
    margin-left: 377px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
}
div.right-footer a {
    color: var(--white-text);
}
.contacts-header {
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    color:var(--white-text);
}
.contacts-inf {
    margin-top: 20px;
    display: grid;
    color: var(--white-text);
    font-size: 20px;
    line-height: 135%;
    gap: 15px;
}
.messengers-logo {
    display: flex;
    gap: 31px;
}
.messengers-logo a {
    width: 28px;
    height: 28px;
}
.footer-tell img,
.inst img,
.email img {
    width: 28px;
    height: 28px;
}
.footer-tell,
.inst,
.email {
    display: flex;
    align-items: center;
    gap: 15px;
}
.copyright {
    color: var(--white-text);
    margin-top: -15px;
    position: relative;
    /* margin-left: 510px; */
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    font-family: 'Roboto';
}
@media (max-width:1100px) {
    .container-navigation {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .nav-menu {
        display: flex;
        justify-content: space-around;
        gap: 0px;
        padding-left: 0px;
        width: 300px;
    }
    .language {
        padding-left: 0px;
        display: flex;
        padding-right: 5px;
    }
    .tell {
        margin-left: 0px;
    }
    .first-screen{
        background-image: url(../img/lady.png), url(../img/bgc.jpg) ;
        background-position: right bottom, left top ;
        border: 1px solid #000000;
        background-repeat: no-repeat,no-repeat ;
        background-size: 572px, cover ;
        max-width: 100%;
        /* height: 663px;
        position: relative;
        top: 0px;
        z-index: 1;
        overflow:hidden; */
    }
}
/* MEDIA 1180px

@media (max-width:1180px) {
    .container-navigation {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo img {
        margin-right: 7px;
    }
    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-menu {
        display: flex;
        justify-content: space-around;
        gap: 0px;
        padding-left: 0px;
    }
    .language {
        padding-left: 0px;
        display: flex;
        align-items: center;
    }
    .language span {
        margin: 0px 5px;
    }
    .ua {
        font-weight: 800;
    }
    .tell {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }
    .benefits-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 280px);
        justify-content: center;
        gap: 50px;
    }
    .foto {
        display: flex;
        gap: 0px;
        justify-content: space-evenly;
    }
    .left-footer {
        margin-left: 0px;
    }
    .right-footer {
        margin-left: 0px;
    }
    .copyright {
        margin-left: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -15px;
        margin-right: 2%;
    }
    .footer-container {
        justify-content: space-around;
    }
} */
/* MEDIA 992 px */
@media (max-width:992px) {
    .container-navigation {
        max-width: 100%;
        display: flex;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo-text{
        font-size: 30px;
    }
    .tell {
        margin-left: 0px;
    }
    .logo img {
        margin-right: 7px;
    }
    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 250px;
    }
    .nav-menu {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        padding-left: 0px;
    }
    .language {
        padding-left: 0px;
        display: flex;
        align-items: center;
    }
    .language span {
        margin: 0px 5px;
    }
    .ua {
        font-weight: 800;
    }
    .tell {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }
    /* .link-buttons {
        justify-content: space-around;
    } */
    .benefits-container {
        display: grid;
        grid-template-columns: repeat(1, 280px);
        justify-content: center;
        gap: 50px;
    }
    .six-advantage {
        max-width: 80vw;
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto auto auto; 
        border-radius: 12px;
        gap: 10px 10px;
        align-items: center;
        padding: 15px;
        justify-content: space-evenly
    }
    .advantage {
        height: 176px;
    }
    .registration {
        margin-top: 45px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .sign-up a {
        width: 233px;
    }
    .appointment-container {
        max-height:max-content;
    }
    /* от сюда */
 
    .foto {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
    .foto img {
        width: 280px;
        height: 128px;
    }
    .left-footer {
        margin-left: 0px;
    }
    .right-footer {
        margin-left: 0px;
    }
    .copyright {
        margin-left: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -15px;
        margin-right: 2%;
    }
    .footer-container {
        justify-content: space-around;
    }
}
@media (max-width:850px) {
    .nav-menu {
        width: max-content;
        flex-direction: column;
        align-items: center;
    }
.navigation {
        width: max-content;
    }
.first-screen{
        background-size: calc(572px/1.5) , cover ;
    }
}
@media (max-width:700px) {
    .logo-text {
        font-size: 20px;
    }
    .logo-text span {
        font-size: 16px;
    }
    .logo img {
        margin-right: 7px;
        height: 50px;
    }
    .main-text-upper {
        font-size: 25px;
        text-align: center;
    }
    .main-text-low {
        text-align: center;
    }
    .link-buttons {
        gap: 0px;
        justify-content: center;
        justify-items: center;
    }
    .call-button, .service-button {
        width: 115px;
        font-size: 16px;
    }

    .first-screen{
        background-size: calc(572px/2) , cover ;
    }
    .value {
        font-size: 40px;
    }
    .second-text {
        font-size: 25px;
    }
    .number {
        font-size: 25px;
    }
    .number {
        font-weight: 400;
        font-size: 40px;
    }
    .advantage {
        font-size: 12px;
        padding: 10px 10px 10px;
    }
    .advantage > div {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .appointment {
        font-size: 16px;
    }
    .appointment span:nth-child(odd) {
        font-size: 20px;
    }
    .contacts-inf { 
        font-size: 14px;
    }
    .worktime-workinghours {
        font-size: 14px;
        gap: 50px;
    }
    .lang a {
        font-size: 14px;
    }
    .contacts-header {
        font-size: 25px;
    }
    .logo-footer {
        font-size: 20px;
    }
    .low {
        font-size: 16px;
    }
    .logo-footer img {
        width: 50px;
        height: 50px;
    }
    .user input {
        font-size: 14px;
    }

}
@media (max-width:480px) {

}